<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MiuiExtra">
        <activity
            android:name=".view.activity.VibratorRemapActivity"
            android:exported="false"
            android:parentActivityName=".view.activity.SettingsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.VibratorEffectRemapActivity"
            android:exported="false"
            android:parentActivityName=".view.activity.SettingsActivity" />
        <activity
            android:name=".view.activity.WallpaperZoomActivity"
            android:exported="false"
            android:parentActivityName=".view.activity.SettingsActivity" />
        <activity
            android:name=".view.activity.SettingsActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SettingsActivityAlias"
            android:exported="true"
            android:targetActivity=".view.activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>
</manifest>